<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar-2">
          <div class="logo">
            <div class="img">
              <img src="<%= process.env.URL%>/images/logo.png" alt="" />
            </div>
            <div class="title">
              <h4>Bookoe<i class="fa-solid fa-grid"></i></h4>
              <small>Book Store Website</small>
            </div>
          </div>
          <div class="search-box">
            <div class="search-field">
              <input
                type="text"
                placeholder="Search over 30 million Book titles"
              />
              <button class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
          <div class="nav-end">
            <button class="likebtn">
              <i class="fa-regular fa-heart"></i> <span>35</span>
            </button>
            <button class="cart">
              <a href="cart-item"
                ><i class="fa-solid fa-cart-shopping"></i> <span>4</span></a
              >
            </button>
            <div class="profile-img">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiM0o_5tIn0DAmbB2wKS4GvurHctTwxD5om2vi4NOsj1ODDSGULrviZ-QV3ul8JYEMfO0&usqp=CAU"
                alt=""
              />
            </div>
          </div>
        </nav>
      </header>
</body>
</html>