<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
</head>
<body>
    <%
        if(typeof message !== 'undefined'){
    %>
            <h1><%=message%></h1>
    <%}%>
    <h2>enter email :</h2>
    <form action="/user/forgotPassword" method="get">
        <input type="email" id="email" name="email" placeholder="Nhập email của bạn..." required>
        <button type="submit">send mail</button>
    </form>
</body>
</html>