<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link rel="stylesheet" href="<%= process.env.URL%>/css/style.css" />
    <link rel="stylesheet" href="<%= process.env.URL%>/css/book-filter.css" />
</head>
<body>
    <section class="login">
        <h3>Enter new password</h3>
        <div class="login-form">
          <h4>Login</h4>
          <form class="form" action="/user/resetPassword" method="post">
            <div class="input-form">
                <input type="hidden" name="token" id="tokenInput" value="" >
                <div class="input-field">
                    <label for="password">Password *</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="password"
                        class="form-input"
                        required
                    />
                </div>
                <button type="submit" class="form-btn">Submit</button>
            </div>
        </form>
        </div>
      </section>
</body>
<script>
        const urlObject = new URL(window.location);
        const path = urlObject.pathname;
        const pathSegments = path.split('/');
        const desiredSegment = pathSegments[2];
        console.log(desiredSegment)
        if (desiredSegment) {
            document.getElementById('tokenInput').value = desiredSegment;
        } else {
            console.error("No 'token' parameter found in the URL.");    
        }

</script>
</html>
